iframe {
    width: 800px;
    height: 800px;
    background-color: white;
}

h1 {
    font-size: 1.5em;
}

h3 {
    margin-bottom: 30px;
}

h4 {
    font-size: 0.9em;
}

small {
    font-size: 0.7em;
    color: rgb(102, 102, 102);
}

.src {
    position:absolute;
    margin-bottom: 10px;
    bottom: 0;
    font-size: 0.4em;
    color: rgb(102, 102, 102);
    line-height: 100%;
}

a {
    box-shadow: none;
    text-shadow: none;
    color: black;
}